# Compiled source #
###################
*.opensdf
*.sdf
*.com
*.class
*.dll
*.exe
*.o
*.so
*.obj
*.log
*.pch
*.suo
*.pdb
*lastbuildstate*
*.xml
*.pdb
*.opensdf
*.lib
SDK/Debug
foo_runex/Debug
helpers/Debug
pfc/Debug
foobar2000_component_client/Debug
*.exp
*.ilk
SDK/Release
*tlog*
ipch